body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.color {
  background: yellow;
  width: 200px;       
  height: 200px;
  position: absolute;
  top:50%;
  left: 50%;           
  margin-top: -280px;
  margin-left: -100px;
}

.Botones {
  width: 400px;       
  height: 400px;
  margin-top: 10px;
  margin-left: 500px;
  
  

}

.Botones button{
  width: 100px;       
  height: 100px;
  
}